.grid{
    flex-grow: 1;
    display: grid;
    grid-template-columns: 2.06fr 1fr;
    margin-top: 135px;
}

.skill-grid{
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    margin-left: 50px;
    margin-right: 50px;
}

.skill{
    border: 1px solid white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.button{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: background-color 0.3s ease-in-out;
}

.button:hover{
    filter: brightness(0.8);
}

#game-skills{
    display: none;
}